<launch>
  <arg name="seed" default="4501"/>
  <arg name="gui" default="true"/>
  <arg name="world" default="$(find firefighting_mission)/artifacts/$(arg seed)/firefighting.world"/>
  <arg name="sdf" default="$(find firefighting_mission)/models/fire_iris/fire_iris.sdf"/>
  <arg name="spawn_z" default="0.2"/>
  <arg name="mavros_prefix" default="/mavros"/>
  <arg name="takeoff_altitude" default="1.2"/>
  <arg name="prestream_count" default="120"/>
  <arg name="enable_path_planner" default="true"/>
  <arg name="use_gazebo_ground_truth" default="true"/>
  <arg name="stereo_input_mode" default="depth"/>
  <arg name="depth_topic" default="/fire_stereo/depth/image_raw"/>
  <arg name="camera_info_topic" default="/fire_stereo/depth/camera_info"/>
  <arg name="points_topic" default="/fire_stereo/points"/>

  <param name="/use_sim_time" value="true"/>

  <node pkg="firefighting_mission" type="start_sitl.sh" name="firefighting_sitl"
        args="$(arg seed) $(arg world) $(arg gui) $(arg sdf) $(arg spawn_z)" output="screen" required="true"/>

  <node pkg="firefighting_mission" type="gazebo_vision_bridge.py"
        name="gazebo_vision_bridge" if="$(arg use_gazebo_ground_truth)" output="screen">
    <param name="model_name" value="iris_0"/>
    <param name="publish_rate" value="30.0"/>
  </node>

  <node pkg="firefighting_mission" type="competition_main.py" name="competition_main"
        output="screen" required="true">
    <param name="mavros_prefix" value="$(arg mavros_prefix)"/>
    <param name="takeoff_altitude" value="$(arg takeoff_altitude)"/>
    <param name="prestream_count" value="$(arg prestream_count)"/>
    <param name="use_gazebo_ground_truth" value="$(arg use_gazebo_ground_truth)"/>
  </node>

  <node pkg="firefighting_mission" type="path_planner.py" name="path_planner"
        if="$(arg enable_path_planner)" output="screen">
    <param name="mavros_prefix" value="$(arg mavros_prefix)"/>
    <param name="transit_altitude" value="$(arg takeoff_altitude)"/>
    <param name="use_gazebo_ground_truth" value="$(arg use_gazebo_ground_truth)"/>
  </node>

  <node pkg="firefighting_mission" type="stereo_obstacle_node.py"
        name="stereo_obstacle_adapter" if="$(arg enable_path_planner)" output="screen">
    <param name="input_mode" value="$(arg stereo_input_mode)"/>
    <param name="depth_topic" value="$(arg depth_topic)"/>
    <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
    <param name="points_topic" value="$(arg points_topic)"/>
    <param name="fallback_fx" value="190.0"/>
    <param name="fallback_cx" value="159.5"/>
    <param name="stale_seconds" value="0.75"/>
  </node>
</launch>
